
<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPF Cooking Studio</title>
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="./css/color.css">
    <link rel="stylesheet" href="./css/resoinsive-minipc.css" media="screen and (max-width: 1341px)">
    <link rel="stylesheet" href="./css/responsive-phone.css" media="screen and (max-width: 768px)">
</head>
<body>
    <div class="main-content">
        <section>
            <div id="home-h1-content">
                <div class="h1-textzone">
                    <h1>JPF Cooking Studio</h1>
                    <p>Lätt, snabb, god matlagning.</p>
                </div><!-- .h1-textzone -->
            </div><!-- /#home-h1-content -->
        </section>
    </div><!-- /.main-content -->
</body>
</html>
