
@model MovieDto

    <div class="main-content">
        <section>
            <div id="home-h1-content">
                <div class="h1-textzone">
                    <h1>@Model.Title</h1>
                    <p>@Model.Actors</p>
                </div><!-- .h1-textzone -->
            </div><!-- /#home-h1-content -->
        </section>
    </div><!-- /.main-content -->


