.result-parent {
    display: flex;
    flex-flow: column nowrap;
}
.result-child {
    text-align: center;
    display: flex;
    flex-flow:  column nowrap;
    background-color: antiquewhite;
    width: 100%;
    margin: 2%;
    padding: 2%;
    align-items: center;
}
img {
    width: 100px;
    height: auto;
}
.child-item {
    margin-left: 2%;
    margin-right: 2%;
}

/*.carousel img {
    height: 500px;
}*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 70%;
}
.swiper-slide img {
  width: 70%;
  height: auto;
}
.swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  
  font-size: 18px;
  /*background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#overray{
  display: flex;
  flex-flow: column nowrap;
  /*align-items: center;*/
  background-color: wheat;
}
.overlayall-sample {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.9);
}
.overray-child {
  background-color: tomato;
}
.overray-child img {
  width: 100%;
  height: auto;
}
#film-categori {
  display: inline-block;
background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
color: white;

}
#film-title{
  font-size: 30px;
}
#film-time{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#film-time img {
  width: 10%;
  height: auto;
}
#film-rating {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#film-context {
  padding: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.ratings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ratings img {
  width: 50px;
  height: auto;
}
#film-like-dislike {
  padding-right: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
#dislike {
  transform: scale(1, -1)
}
.like-dislike img {
  width: 20px;
}